
$maroon:      #38141f;
$navy-blue:   #003366;
$border-grey: #d3d3d3;

#index-header {
	display: flex;
	justify-content: space-between;
	padding: 10px 20px;
	border-bottom: 1px solid $border-grey;
	h1 {
		margin: 0;
		color: $navy-blue;
		font-size: 3em;
	}
	a {
		padding: 10px 5px;
	}
}

#index-header-belt {
	padding-top: 30px;
	#index-belt-image {
		position: relative;
		min-height: 350px;
		background-position: center;
		#index-poster {
			text-align: center;
			h2 {
				font-size: 2.5em;
			}
		}
		#index-belt-image-strap {
			position: absolute;
			min-height: 50px;
			bottom: 0;
			left: 0;
			right: 0;
			background-color: rgba(255,255,255,.4)
		}
	}
}

#index-info-bar {
	min-height: 200px;
	background: rgba(0,26,51,1);
	background: -moz-linear-gradient(top, rgba(0,26,51,1) 0%, rgba(0,39,77,1) 100%);
	background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(0,26,51,1)), color-stop(100%, rgba(0,39,77,1)));
	background: -webkit-linear-gradient(top, rgba(0,26,51,1) 0%, rgba(0,39,77,1) 100%);
	background: -o-linear-gradient(top, rgba(0,26,51,1) 0%, rgba(0,39,77,1) 100%);
	background: -ms-linear-gradient(top, rgba(0,26,51,1) 0%, rgba(0,39,77,1) 100%);
	background: linear-gradient(to bottom, rgba(0,26,51,1) 0%, rgba(0,39,77,1) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#001a33', endColorstr='#00274d', GradientType=0 );
	color: #fff;
	text-align: center;
	span {
		padding-top: 15px;
	}
	h4 {
		font-size: 2em;
	}
	p {
		font-size: 1.25em;
		span {
			font-size: 2em;
		}
	}
}



#index-wrapper-3 {
	#index-level-1-belt {
		min-height: 100px;
		background: rgba(77,28,43,1);
		background: -moz-linear-gradient(top, rgba(77,28,43,1) 0%, rgba(38,14,21,1) 100%);
		background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(77,28,43,1)), color-stop(100%, rgba(38,14,21,1)));
		background: -webkit-linear-gradient(top, rgba(77,28,43,1) 0%, rgba(38,14,21,1) 100%);
		background: -o-linear-gradient(top, rgba(77,28,43,1) 0%, rgba(38,14,21,1) 100%);
		background: -ms-linear-gradient(top, rgba(77,28,43,1) 0%, rgba(38,14,21,1) 100%);
		background: linear-gradient(to bottom, rgba(77,28,43,1) 0%, rgba(38,14,21,1) 100%);
		filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#4d1c2b', endColorstr='#260e15', GradientType=0 );
	}
	#index-header-buffer {
		min-height: 200px;
		// border-bottom: 1px solid $border-grey;	
		margin: 0px 15px;
	}
	#index-header-wrapper {
		margin: -40px 15px 0 15px;
		background-color: #fff;
		border: 1px solid $border-grey;
		h1 {
			margin: 10px;
			text-align: center;
		}
	}
	#index-tiles-level-1 {
		display: flex;
		#big-tile-level-1 {
			flex: 3;
			margin: 15px;
			min-height: 300px;
			background-position: center;
		}
		#index-tile-border-level-1 {
			margin: 15px 0;
			border-left: 1px solid $border-grey;
		}
		#small-tile-wrapper-level-1 {
			flex: 2;
			margin: 15px;
			display: flex;
			flex-direction: column;
			h3 {
				text-align: left;
			}
			div {
				flex: 1;
			}
			#index-small-tile-top {
				border-bottom: 1px solid $border-grey;
			}
			#index-small-tile-buffer {
				margin: 3px 0;
			}
			#index-small-tile-bottom {
				border-top: 1px solid $border-grey;
			}
		}
	}
	#index-level-2-buffer {
		margin: 0 15px;
		border-bottom: 1px solid $border-grey;
	}
	#index-level-2-belt {
		margin-top: 15px; 
		min-height: 50px;
		background: rgba(0,26,51,1);
		background: -moz-linear-gradient(top, rgba(0,26,51,1) 0%, rgba(0,39,77,1) 100%);
		background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(0,26,51,1)), color-stop(100%, rgba(0,39,77,1)));
		background: -webkit-linear-gradient(top, rgba(0,26,51,1) 0%, rgba(0,39,77,1) 100%);
		background: -o-linear-gradient(top, rgba(0,26,51,1) 0%, rgba(0,39,77,1) 100%);
		background: -ms-linear-gradient(top, rgba(0,26,51,1) 0%, rgba(0,39,77,1) 100%);
		background: linear-gradient(to bottom, rgba(0,26,51,1) 0%, rgba(0,39,77,1) 100%);
		filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#001a33', endColorstr='#00274d', GradientType=0 );
	}
	#index-level-2-content {
		background-color: #fff;
		margin: -15px 15px 0 15px;
		min-height: 300px;
		border: 1px solid $border-grey;
		display: flex;
		div {
			flex: 1;
			text-align: center;
			padding: 15px;
		}
	}
}

#index-wrapper {
	display: flex;
	#index-splash {
		position: relative;
		min-height: 500px;
		margin: 5px;
		@media (min-width: 769px) {
			width: 61%;
		}	
		#index-splash-text-square {
			position: absolute;
			height: 40%;
			width: 60%;
			bottom: 0;
			left: 0;
			right: 0;
			z-index: 10;
			background-color: rgba(62,101,33,.8);
			border-top: 5px solid #fff;
			border-right: 5px solid #fff;
			h1 {
				position: absolute;
				bottom: 0;
				text-align: center;
				color: white;
				font-size: 5em;
				margin: 0 0 25px 25px;
			}
		}
	}
	#index-side-squares {
		flex-grow: 1;
		color: #fff;
		margin: 5px 5px 5px 0;
		display: flex;
		flex-direction: column;
		#index-side-squares-top {
			flex: 2;
			background-color: rgba(27,77,153,1);
			width: 100%;
			margin-bottom: 5px;
		}
		#index-side-squares-bottom {
			flex: 3;
			width: 100%;
			background-color: rgba(138,175,193,1);
		}
	}
}

#index-wrapper-2 {
	h1 {
		margin-left: 20px;
		font-size: 5em;
	}
	#index-belt {
		background: rgba(100,128,77,1);
		background: -moz-linear-gradient(top, rgba(100,128,77,1) 0%, rgba(62,101,33,1) 100%);
		background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(100,128,77,1)), color-stop(100%, rgba(62,101,33,1)));
		background: -webkit-linear-gradient(top, rgba(100,128,77,1) 0%, rgba(62,101,33,1) 100%);
		background: -o-linear-gradient(top, rgba(100,128,77,1) 0%, rgba(62,101,33,1) 100%);
		background: -ms-linear-gradient(top, rgba(100,128,77,1) 0%, rgba(62,101,33,1) 100%);
		background: linear-gradient(to bottom, rgba(100,128,77,1) 0%, rgba(62,101,33,1) 100%);
		filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#64804d', endColorstr='#3e6521', GradientType=0 );
		min-height: 100px;
	}
	#index-nav-links {
		text-align: right;
		margin: 10px 50px 0 0; 
	}
}
