<div id="index-header-belt">
	<div id="index-belt-image" class="uni-background-cover" style="background-image: url('https://s3.amazonaws.com/kua-giving-app/Index/foliage.jpg')">
		<div id="index-poster">
			<h2>Non-Profit Solutions</h2>
			<p>For all of your fundraising needs</p>
		</div>
	</div>
</div>

<div id="index-info-bar">
	<div>
		<p>
			<span class="glyphicon glyphicon-envelope" aria-hidden="true"></span>
		</p>
		<h4>Campaigns</h4>
		<p>Send email and text to give fundraising campaigns with ease</p>
	</div>

	<div>
		<p>
			<span class="glyphicon glyphicon-signal" aria-hidden="true"></span>
		</p>
		<h4>Metrics</h4>
		<p>Metrics to help you understand and adapt your fundraising campaigns</p>
	</div>

	<div>
		<p>
			<span class="glyphicon glyphicon-folder-open" aria-hidden="true"></span>
		</p>
		<h4>Data</h4>
		<p>Your donor and gift data is yours. You will always control it</p>
	</div>
</div>

<div id="index-wrapper-3">
	<div id="index-level-2-belt"></div>

	<div id="index-level-2-content">
		<div>Content</div>

		<div>Content</div>

		<div>Content</div>
	</div>

</div>

<div style="min-height: 150px"></div>

{{outlet}}
