<div id="index-wrapper-3">

	<div id="index-level-1-belt"></div>
	<div id="index-header-wrapper">
		<h1>Giftwrap</h1>
		<p>For all of your development needs</p>
	</div>

	<div id="index-header-buffer"></div>

	<div id="index-tiles-level-1">
		<div id="big-tile-level-1" class="uni-background-cover" style="background-image: url('https://s3.amazonaws.com/kua-giving-app/Index/foliage.jpg')"></div>

		<div id="index-tile-border-level-1"></div>

		<div id="small-tile-wrapper-level-1">
			<div id="index-small-tile-top">
				<h3>Campaigns</h3>
				<p>Easy text and email campaign management. Do it all in one place!</p>
			</div>

			<div id="index-small-tile-buffer" class="uni-background-cover" style="background-image: url('https://s3.amazonaws.com/kua-giving-app/Index/students.jpg')"></div>

			<div id="index-small-tile-bottom">
				<h3>Donor Management</h3>
				<p>Manage allumnae, donors, parents and institutional friends!</p>
			</div>
		</div>
	</div>

	<div id="index-level-2-buffer"></div>
	<div id="index-level-2-belt"></div>

	<div id="index-level-2-content">
		<div>Content</div>

		<div>Content</div>

		<div>Content</div>
	</div>

</div>

<div style="min-height: 150px"></div>

<div id="index-wrapper">

	<div id="index-splash" class="uni-background-cover" style="background-image: url('https://s3.amazonaws.com/kua-giving-app/Index/fall-leaves-water.jpg')">
		<div id="index-splash-text-square">
			<h1>Giftwrap</h1>
		</div>
	</div>

	<div id="index-side-squares">
		<div id="index-side-squares-top">
			<p>Giftwrap for text and email campaigns!</p>
		</div>

		<div id="index-side-squares-bottom">
			<p>Giftwrap for managing all of your alumnae and donors!</p>
		</div>
	</div>

</div>

<div style="min-height: 200px"></div>

<div id="index-wrapper-2">
	<h1>Giftwrap</h1>

	<div id="index-belt"></div>

	<div id="index-nav-links">
		<p><a href="#">Campaigns</a> | <a href="#">Donors</a> | <a href="about">About</a></p>
	</div>
</div>

{{outlet}}
