<div id="index-header">
	<div>
		<h1>Giftwrap</h1>
	</div>

	<div id="index-header-links">
		<h4>
			<a href="#">Solutions</a>
			<a href="#">Pricing</a>
			<a href="#">Sign in</a>
		</h4>
	</div>
</div>

<div id="index-header-belt">
	<div id="index-belt-image" class="uni-background-cover" style="background-image: url('https://s3.amazonaws.com/kua-giving-app/Index/foliage.jpg')">
		<div class="container-fluid">
			<div class="row">
				<div id="index-poster" class="col-sm-6 col-sm-offset-3">
					<h2>Non-Profit Solutions</h2>
					<p>For all of your fundraising needs</p>
				</div>
			</div>
		</div>

		<div id="index-belt-image-strap"></div>
	</div>
</div>

<div id="index-info-bar">
	<div class="container-fluid">
		<div class="row">
			<div class="col-sm-4">
				<p>
					<span class="glyphicon glyphicon-envelope" aria-hidden="true"></span>
				</p>
				<h4>Campaigns</h4>
				<p>Send email and text to give fundraising campaigns with ease</p>
			</div>

			<div class="col-sm-4">
				<p>
					<span class="glyphicon glyphicon-signal" aria-hidden="true"></span>
				</p>
				<h4>Metrics</h4>
				<p>Metrics to help you understand and adapt your fundraising campaigns</p>
			</div>

			<div class="col-sm-4">
				<p>
					<span class="glyphicon glyphicon-folder-open" aria-hidden="true"></span>
				</p>
				<h4>Data</h4>
				<p>Your donor and gift data is yours. You will always control it</p>
			</div>
		</div>	
	</div>
</div>





<div id="index-wrapper-3">
	<div id="index-level-2-belt"></div>

	<div id="index-level-2-content">
		<div>Content</div>

		<div>Content</div>

		<div>Content</div>
	</div>

</div>

<div style="min-height: 150px"></div>

<div id="index-wrapper">

	<div id="index-splash" class="uni-background-cover" style="background-image: url('https://s3.amazonaws.com/kua-giving-app/Index/fall-leaves-water.jpg')">
		<div id="index-splash-text-square">
			<h1>Giftwrap</h1>
		</div>
	</div>

	<div id="index-side-squares">
		<div id="index-side-squares-top">
			<p>Giftwrap for text and email campaigns!</p>
		</div>

		<div id="index-side-squares-bottom">
			<p>Giftwrap for managing all of your alumnae and donors!</p>
		</div>
	</div>

</div>

<div style="min-height: 200px"></div>

<div id="index-wrapper-2">
	<h1>Giftwrap</h1>

	<div id="index-belt"></div>

	<div id="index-nav-links">
		<p><a href="#">Campaigns</a> | <a href="#">Donors</a> | <a href="about">About</a></p>
	</div>
</div>

{{outlet}}
