@import "colors";

.mat-input-group {
	position: relative;
	margin-top: 25px;
	label {
		font-size: 1.2em;
		color: $mid-black;
		position: absolute;
		pointer-events: none;
		top: 5px;
		transition:0.2s ease all;
	}
	input:focus ~ label {
		top: -20px;
		font-size: 1em;
	}
	input:valid ~ label {
		top: -20px;
		font-size: 1em;
	}
	input:valid {
		border-bottom: 2px solid green !important;
		color: green;
		~ .mat-input-error {
			display: none;
		}
	}
	// No Spin Button on Number fields
	input::-webkit-outer-spin-button,
	input::-webkit-inner-spin-button {
	    -webkit-appearance: none;
	    margin: 0;
	}
	.mat-input-error {
		padding: 3px;
		font-size: 0.7em;
		color: $error-red;
		text-align: center;
	}
}

.mat-input {
	font-size: 1.2em;
	width: 100%;
	height: 40px;
	padding: 2px;
	padding-left: 10px;
	margin-bottom: 5px;
	// border-style: solid;
	border: none;
	border-bottom: 2px solid $light-gray;
	outline: none;
	transition: border-bottom 0.5s ease-in;
	&:focus {
		border-bottom: 2px solid $primary-blue;
	}
}

@mixin button() {
	background-color: $button-blue;
	box-shadow: 0 1px 1px rgba(0,0,0,0.12), 0 1px 1px rgba(0,0,0,0.24);
	border: none;
	color: white;
	border-radius: 2px;
	margin-top: 10px;
	margin-bottom: 10px;
	cursor: pointer;
}

.mat-button {
	@include button();
	font-size: 1.2em !important;
	padding: 9px 18px;
}

.mat-button-sm {
	@include button();
	font-size: 0.9em !important;
	padding: 6px 12px;
}
