// Utility Classes for entire App
@import url('https://fonts.googleapis.com/css?family=Roboto');

// Globals
body {
	font-family: 'Roboto', sans-serif !important;
}

// Forms
.input-error {
	border-bottom: 2px solid $error-red !important;
}

.input-success {
	border-bottom: 2px solid #5cb85c;
}

.input-error-text {
	text-align: center;
	font-size: 0.8em;
	color: $error-red;
}

// Other
.centering-container {
	text-align: center;
}
