@import url(https://fonts.googleapis.com/css?family=Open+Sans);

#header {
	text-align: center;
}

#form-background {
	width: 100%;
	height: 100%;
	position: fixed;
	left: 0px;
	top: 0px;
	z-index: -1;
	.image-fit-screen {
		width: 100%;
		height: 100%;
	}
}

// Globals

.hide-mobile {
	@media (max-width: 600px) {
		display: none;
	}
}

// Global Input Styling
.form-input, #card-payment .hosted, #totals input, #designation-other {
	padding-left: 10px;
	background: rgba(255, 255, 255, 0.86);
	border: 1px solid #ebebeb;
	box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.06);
	border-radius: 2px;
	outline: none;
}

#form {
	background-color: rgba(245,245,245, 0.97);
	max-width: 600px;
	padding: 10px;
	font-family: 'Open Sans', sans-serif;
	font-weight: 500;
	@media (min-width: 600px) {
		margin-left: calc(50vw - 300px);
		border: 1px solid #d3d3d3;
	}
}

div .input-error {
	border: 1px solid red;
}

.error {
	color: red;
	text-align: center;
	font-size: 0.8em;
	margin-top: -5px;
}

/* Donor Info */

#donor-info {
	width: 80%;
	margin-left: 10%;
	border: 1px solid #ebebeb;
	box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.06);
	background: rgba(255, 255, 255, 0.86);
	h4 {
		margin-top: 10px;
		text-align: center;
	}
	p {
		padding-left: 5%;
	}
}

/* Text Inputs */

#inputs-wrapper {
	> div {
		display: inline-block;
		width: 80%;
		margin-left: 10%;
		&:nth-child(2), &:nth-child(3) {
			width: 37.5%;
		}
		&:nth-child(3) {
			margin-left: 5%;
		}
		> span {
			display: inline-block;
			width: 8%;
			border: 1px solid #ebebeb;
			background-color: #f5f5f5;
			height: 40px;
			padding: 10px;
			border-radius: 2px 0px 0px 2px;
		}
	}
	.form-input {
		height: 40px;
		width: 100%;
		margin-bottom: 10px;
		font-size: 16px;
	}
	#donor-phone-number {
		margin-left: 0%;
		width: 92%;
		border-radius: 0px 2px 2px 0px;
	}
}

/* Total */

#totals {
	margin-top: 10px;
	text-align: center;
	.gift-total-box {
		background-color: #fff;
		border: 1px solid #ebebeb;
		padding: 10px;
		border-radius: 2px;
		display: inline-block;
		width: 30%;
		margin-left: 5%;
		margin-bottom: 10px;
		text-align: center;
		&:nth-child(1), &:nth-child(4) {
			margin-left: 0%;
		}
	}
	.gift-total-selected {
		border: 1px solid red;
	}
	#total-other {
		height: 40px;
		width: 60%;
		z-index: 9;
		border-radius: 2px 0px 0px 2px;
	}
	> span {
		display: inline-block;
		height: 40px;
		border: 1px solid #d7d7d7;
		padding: 9px;
		background-color: #d6d6d6;
		border-radius: 2px 0px 0px 2px;
		margin-right: -4px;
		z-index: 10;
	}
}

#gift-total {
	width: 80%;
	margin: auto;
	margin-bottom: 10px;
}

#how-much {
	text-align: center;
	margin-top: 10px;
}

#totals div {
	padding: 5px;
}

#gift_total_other {
	height: 25px;
	font-size: 0.9em;
	width: 100px;
}

/* Gift Type */

#gift-type {
	display: none;
	> div {
		display: inline-block;
		> div {
			text-align: center;
			padding: 5px;
		}	
	}
	input {
		display: block;
		margin: 0 auto;
	}
	> p {
		text-align: center;
		font-size: 1.3em;
	}
	> div:nth-child(3) div {
		font-size: 0.8em;
	}
}

/* Designate */

#designate-link, #gift-type-link {
	text-decoration: underline;
	color: blue;
	text-align: center;
	font-size: 0.85em;
	margin-top: 10px;
}

#designation-wrapper {
	text-align: center;
	display: none;
	> div {
		text-align: center;
	}
	#designation-other {
		display: none;
		height: 30px;
		//width: 50%;
		margin-top: 10px;
		margin-bottom: 0px;
	}
	#designate-select {
		height: 30px;
	}
}

/* Payment */

#payment-container {
	h4 {
		text-align: center;
	}
	#card-payment {
		.hosted {
			height: 40px;
		}
		.braintree-hosted-fields-focused {
			border-color: blue;
		}
		.braintree-hosted-fields-invalid {
			box-shadow: 0 0 4px 1px tomato;
			border-color: white;
		}
		.braintree-hosted-fields-valid {
			box-shadow: 0 0 4px 1px green;
			border-color: white;
		}
		> div {
			display: inline-block;
			width: 37.5%;
			margin-left: 10%;
			margin-top: 10px;
			&:first-child {
				width: 80%;
			}
			&:nth-child(3) {
				margin-left: 5%;
			}
		}
	}
}

#payment-error {
	display: none;
	text-align: center;
	padding: 5px;
	margin: 10px;
	border-radius: 4px;
	border: 1px solid #EBCCD1;
	background-color: #F2DEDE; 
	color: #A94442;
}

#paypal-button {
	width: 161px;
	margin-left: calc(50% - 75px);
	height: auto;
	border-radius: 3px;
	display: block;
}

#payment-details {
	#paypal-info, #card-info {
		display: none;
		width: 80%;
		margin-left: 10%;
		background: rgba(255, 255, 255, 0.86);
		border: 1px solid #ebebeb;
		box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.06);
		border-radius: 2px;
		div {
			text-align: center;
		}
		#paypal-email {
			font-size: 1.2em;
			padding-top: 5px;
		}
		#paypal-cancel, #card-cancel {
			padding-bottom: 5px;
			text-decoration: underline;
			color: blue;
			cursor: pointer;
			font-size: 0.7em;
		}
	}
}

#paypal-logo {
	height: 50px;
	width: auto;
}

#saved-payment {
	> div {
		text-align: center;
		padding: 3px;
		border: 1px solid gray;
		border-radius: 5px;
		background-color: #FCFCFC;
	}
	span {
		position: relative;
		bottom: 20px;
	}
	#saved-card span {
		bottom: 12px;
		padding-left: 5px;
	}
}

/* Recurring */

#recurring {
	p {
		text-align: center;
		font-size: 1.1em;
	}
	> div {
		display: inline-block;
		width: 20%;
		text-align: center;
		margin-left: 5%;
		padding: 10px;
		background: rgba(255, 255, 255, 0.86);
		border: 1px solid #ebebeb;
		box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.06);
		border-radius: 2px;
		&:nth-child(2) {
			margin-left: 15%;
		}
	}
	.frequency-selected {
		border: 1px solid red;
	}
}

/* Submit */

#button-wrapper {
	text-align: center;
	margin: 15px;
}

#submit-button {}

/* Media Queries */

@media (min-width: 500px) {
	#gift-type > div { 
		width: 25%; 
	}
	#gift-type .first-radio { 
		margin-left: 12.5%; 
	}
	#card-payment > div {
		margin-left: calc(50% - 75px);
	}
}
@media (max-width: 500px) {
	#gift-type > div {
		width: 30%; 
	}
	#gift-type .first-radio { 
		margin-left: 5%; 
	}
}

@media (max-width: 400px) {
	#recurring {
		font-size: 0.8em;
	}
	#gift-type {
		font-size: 0.8em;
	}
}