@import "app/styles/colors";

#email-create {
  label {
    font-size: 1.3em;
  }
  input, textarea {
    width: 100%;
  }
  textarea {
    height: 250px;
    padding: 10px;
  }
}

#email-preview {
  img {
    display: block;
    width: 100%;
    height: 150px;
    object-fit: cover;
    background-color: $light-gray;
  }
  p {
    font-size: 1.3em;
    padding: 15px 15px;
  }
  #email-body {
    padding-top: 0px;
    text-indent: 8%;
    line-height: 1.5em;
  }
  #email-signoff {
    p {
      text-align: center;
    }
  }
}
