#universal-header {
	height: 60px;
	#user-links {
		cursor: pointer;
		position: fixed;
		top: 10px;
		padding: 5px 10px;
		a {
			// color: white;
			margin-top: 10px;
			padding: 0 5px;
		}
	}
}

#header-spacer {
	height: 60px;
}