{{yield}}

<div class="recurring-circle" id="recurring-circle-monthly" {{ action "chooseRecurring" "monthly" newDonor}}>monthly</div>

<div class="recurring-circle" id="recurring-circle-quarterly" {{ action "chooseRecurring" "quarterly" newDonor}}>quarterly</div>

<div class="recurring-circle" id="recurring-circle-annually" {{ action "chooseRecurring" "annually" newDonor}}>annually</div>

