{{yield}}

<div id="payment-container">
	<p>Payment Options</p>
	<div id="payment-error">Please Enter a Payment Method</div>
	<div id="card-payment">
		<div>
			<label>Card Number</label><br>
			<div id="card-number" class="hosted"></div>
		</div>
		<div>
			<label>Expiration Date</label><br>
			<div id="exp-date" class="hosted"></div>
		</div>
	</div><div id="or">
		<p>Or</p>
	</div><div id="paypal-wrapper">
		<img src="https://s3.amazonaws.com/giving-gael/public/paypal_button_small.png" id="paypal-button">
	</div>
	<div id="paypal-info">
		<div id="paypalEmail"></div>
	</div>
</div>
