{{input id=inputId class="mat-input mat-input-valid" type=type required=required focus-out="validate" focus-in="clickInput"}}
<label for="{{inputId}}" class="form-input-label">{{text}}</label>
<div id="{{inputId}}-error" class="form-input-error-text"></div>
