@import url(https://fonts.googleapis.com/css?family=Open+Sans);

h3 {
	text-align: center;
}

.flex-container {
	display: flex;
	#campaign-create {
		flex: 2;
		border: 1px dotted black;
		margin: 20px;
		label {
			padding-left: 10px;
		}
		input, textarea {
			width: 90%;
			margin-left: 5%;
		}
		input {
			height: 25px;
			font-size: 1.1em;
			margin: 0px 10px 10px 10px;
		}
		textarea {
			margin: 0px 10px 10px 10px;
			font-size: 0.9em;
			height: 200px;
		}
	}
	#campaign-preview {
		flex: 3;
		border: 1px dotted black;
		padding: 20px;
		margin: 20px;
		#email-from {
			border: 1px solid gray;
			border-radius: 2px;
			padding: 3px;
			display: inline-block;
			#title-preview {
				margin-left: 20px;
			}
		}
		#body-wrap {
			border: 1px solid gray;
			border-radius: 4px;
			margin-top: 25px;
			padding: 15px;
			font-size: 1.2em;
		}
		#school-logo {
			text-align: center;
		}
		#body-preview {
			margin: 10px 0px 20px 0px;
			padding: 5px;
			text-indent: 20px;
		}
		#signoff {
			text-align: right;
		}
		#button-wrapper {
			text-align: center;
		}
		#give-button {
			padding: 6px 12px;
			border-radius: 4px;
			background-color: #f0ad4e;
			border: 1px solid #eea236;
			color: white;
		}
	}
}