#user-profile {
  padding: 25px;
  #user-avatar-box {
    text-align: center;
  }
  #user-info-box {
    font-size: 1.7em;
  }
}

.user-avatar-big {
  height: 150px;
  width: 150px;
  border-radius: 50%;
}
